csv jpg csv1.jpg 
html jpg html1.jpg 
excel jpg excel.jpg 
connector jpg tallyconnector.jpg
connected jpg connected.jpg
disconnected jpg disconnected.jpg
daybook jpg daybook.jpg
about jpg about.jpg
ledger jpg ledger.jpg
stock jpg stock.jpg
forensic jpg forensic.jpg
importall jpg importall.jpg
tally ICON tallyconnector.ico
newitem BITMAP newitem.bmp
delitem BITMAP itemdel.bmp
coldel jpg coldel.jpg
newtable jpg newtable.jpg
xml jpg xml1.jpg
exit jpg exit1.jpg
nodollar jpg nodollar.jpg